@page "/login"

@attribute [AllowAnonymous]

<div class="identity-page">
    <div class="identity-border">

        <EditForm Model="_request" OnValidSubmit="@SubmitAsync">

            <div class="form-section-header">Login</div>

            <DataAnnotationsValidator />

            <div>Welcome Back</div>

            <ValidationMessage For="() => _request.Username" />
            <FloatingInput Label="Username" @bind-Value="_request.Username" />

            <ValidationMessage For="() => _request.Password" />
            <FloatingPassword Label="Password" @bind-Value="_request.Password" />

            <div class="form-row-container">
                <label for="remember"><input type="checkbox" id="remember" /> Remember Me?</label>

                <a href="/account/forgot">Forgot Password?</a>
            </div>

            <div>
                @if (_isLoading) {
                    <LoadingButton IsFullWidth="true" IsDisabled="true" />
                } else {
                    <button class="btn form-button-full" type="submit">Sign In</button>
                }
            </div>

            <div>Don't have an account? <a href="/register">Register Here</a></div>

        </EditForm>

    </div>
</div>