@page "/register"

@attribute [AllowAnonymous]

<div class="identity-page">
    <div class="identity-border">

        <EditForm Model="_request" OnValidSubmit="@SubmitAsync">

            <div class="form-section-header">Register</div>

            <DataAnnotationsValidator />

            <div>Already have an account? <a href="/login">Sign In</a></div>

            <ValidationMessage For="() => _request.FirstName" />
            <FloatingInput Label="First Name" @bind-Value="_request.FirstName" />

            <ValidationMessage For="() => _request.LastName" />
            <FloatingInput Label="Last Name" @bind-Value="_request.LastName" />

            <ValidationMessage For="() => _request.Username" />
            <FloatingInput Label="Username" @bind-Value="_request.Username" />

            <ValidationMessage For="() => _request.Password" />
            <FloatingPassword Label="Password" @bind-Value="_request.Password" />

            <ValidationMessage For="() => _request.ConfirmPassword" />
            <FloatingPassword Label="Confirm Password" @bind-Value="_request.ConfirmPassword" />

            <div>
                <label for="terms">
                    <input type="checkbox" @bind-value="_request.AcceptTerms" id="terms" /> I agree to the <a href="/terms">Terms of Use</a>
                </label>
            </div>

            <div>
                <ValidationMessage style="text-align: center" For="() => _request.AcceptTerms" />
                @if (_isLoading) {
                    <LoadingButton IsFullWidth="true" IsDisabled="true" />
                } else {
                    <button class="btn form-button-full" type="submit">Create Account</button>
                }
            </div>

        </EditForm>

    </div>
</div>