<div class="global-modal-content">
    <div>@ContextText</div>
</div>

<div class="global-modal-buttons">
    <button class="btn cancel-btn" @onclick="Submit">@ButtonText</button>
    <button class="btn clear-btn" @onclick="Cancel">Cancel</button>
</div>