<div class="global-modal-content">
    <EditForm class="form-column" id="CharacterCreation" Model="_request" OnValidSubmit="Submit">

        <DataAnnotationsValidator />
        <ValidationSummary />

        <FloatingInput Label="Username" @bind-Value="_request.Name" />

        <div class="form-row-container mb-0">
            <FloatingSelect Label="Class" @bind-Value="@_request.Class"
                ItemList="Converter.AvailableClasses()" ShortWidth="true" />

            <div>
                <input type="checkbox" @bind-value="_request.HasCooking" /> Cooking
            </div>
        </div>

        <FloatingSelect Label="First Profession" @bind-Value="_request.FirstProfession"
            ItemList="Converter.AvailableProfessions()" AddEmpty="true" />

        <FloatingSelect Label="Second Profession" @bind-Value="_request.SecondProfession"
            ItemList="Converter.AvailableProfessions()" AddEmpty="true" />

    </EditForm>
</div>

<div class="global-modal-buttons">
    @if (_isLoading) {
        <LoadingButton Color="ButtonColor.Accent" IsDisabled="true" />
    } else {
        <button class="btn accent-btn" form="CharacterCreation" type="submit">@ButtonText</button>
    }
    <button class="btn clear-btn" @onclick="Cancel">Cancel</button>
</div>