@inherits LayoutComponentBase

@inject IJSRuntime Js;

<main class="@(_isDarkMode ? "darkmode" : "")">
    <CascadingValue Value="_isDarkMode">

        <HeaderMenu @bind-DrawerOpen="_drawerOpen" />

        <div class="wrapper">

            <AuthorizeView>
                <Authorized>

                    <NavMenu DrawerOpen="_drawerOpen" />

                </Authorized>
            </AuthorizeView>

            <article class="content">
                <div id="scroll-bar"></div>
                @Body
            </article>
        </div>
    </CascadingValue>
</main>