@page "/"

@attribute [AllowAnonymous]

<div class="main-header">Welcome to WoW Tracker - Alpha</div>

<div class="main-text">Currently Under Construction</div>

<div class="main-text">Please check back later for more progress</div>