@page "/verifyauth"
@using Tracker.Library.Models

<h3>VerifyAuth</h3>

<p>Username: @CurrentUsername</p><br>

<p>Group1</p>

@foreach (var character in Characters1) {
    <p>Name: @character.Name</p>
}
<br>
<p>Group2</p>

@foreach (var character in Characters2) {
    <p>Name: @character.Name</p>
}

@code {

    private string CurrentUsername { get; set; }

    private List<CharacterModel> Characters1 { get; set; } = new();

    private List<CharacterModel> Characters2 { get; set; } = new();

    protected override async Task OnInitializedAsync() {
        var user = await _stateProvider.GetAuthenticationStateProviderUserAsync();

        if (user.Identity?.IsAuthenticated is true) {
            CurrentUsername = user.GetUsername();
        }

        var response1 = await _httpClient.GetAsync(ApiRoutes.Character.GetAll);
        var response2 = await _httpClient.GetAsync(ApiRoutes.Character.GetAll);

        Characters1 = await response1.Content.ReadFromJsonAsync<List<CharacterModel>>();
        Characters2 = await response2.Content.ReadFromJsonAsync<List<CharacterModel>>();
    }

}