@page "/verifyauth" 
@using Tracker.Library.Helpers

<h3>VerifyAuth</h3>

<p>Username: @CurrentUsername</p>

@code {

    private string CurrentUsername { get; set; }

    protected override async Task OnInitializedAsync() {
        var user = await _stateProvider.GetAuthenticationStateProviderUserAsync();

        if (user.Identity?.IsAuthenticated is true) {
            var result = await _userManager.GetAsync(user.GetId());

            if (result.Succeeded) {
                CurrentUsername = result.Data.Username;
            }
        }
    }

}