@page "/"

@attribute [AllowAnonymous]

<div class="main-header">Welcome to WoW Tracker - Alpha</div>

<div class="main-text">Currently Under Construction</div>

<div style="display:flex; justify-content: center;">
    <hr style="width: 60%;" />
</div>

<div class="main-text">Core functionality is complete, currently making UI adjustments for usability</div>

<div class="main-text">Next major feature update will integrate Blizzard API to populate Craftable Item lists</div>

<div class="main-text">Once API integration is complete then needed craftable material lists will be finished</div>

<div class="main-text">Will also create a single page for auction house shopping list</div>

<div class="main-text">Please check back later for more progress</div>