<div class="global-modal-content">
    <EditForm class="form-column" id="AddNeededItem" Model="_request" OnValidSubmit="Submit">

        <DataAnnotationsValidator />
        <ValidationSummary />

        <FloatingSelect Label="Profession" @bind-Value="_request.Profession"
            ItemList="Converter.AvailableProfessions()" LinkedValue="() => _request.Name = string.Empty" />

        <FloatingSelect Label="Item" @bind-Value="_request.Name"
            ItemList="GetAvailableItems()" />

    </EditForm>
</div>

<div class="global-modal-buttons">
    @if (NeededItemState.Value.IsLoading) {
        <LoadingButton Color="ButtonColor.Accent" IsDisabled="true" />
    } else {
        <button class="btn accent-btn" form="AddNeededItem" type="submit">@ButtonText</button>
    }
    <button class="btn clear-btn" @onclick="Cancel" @ref="_cancelButton">Cancel</button>
</div>