@page "/character/{id:int}"

@if (_isLoading) {
    <LoadingText />
} else {
    <div class="page-header">
        <div class="character-info">
            <div class="character-name">@_character.Name</div>
            <div class="character-class">@_character.Class</div>
        </div>
        <div class="character-buttons">
            <button class="btn accent-btn" @onclick="UpdateAsync">Edit</button>
            <button class="btn cancel-btn" @onclick="DeleteAsync">Delete</button>
        </div>
    </div>

    <hr />

    <div class="profession-header">
        @if (string.IsNullOrWhiteSpace(_character.FirstProfession)) {
            <div class="profession-slot-1">No Primary Profession</div>
        } else {
            <div class="profession-slot-1">@_character.FirstProfession</div>
        }

        @if (_character.HasCooking) {
            <div class="profession-slot-2">Cooking</div>
        } else {
            <div></div>
        }

        @if (string.IsNullOrWhiteSpace(_character.SecondProfession)) {
            <div class="profession-slot-3">No Secondary Profession</div>
        } else {
            <div class="profession-slot-3">@_character.SecondProfession</div>
        }
    </div>

    <hr />

    <div>

        <div>Needed Items <i class="fa-regular fa-plus"></i></div>

        <div>
            <button>Test Item</button>

            <button>Test Item</button>

            <button>Test Item</button>

            <button>Test Item</button>

            <button>Test Item</button>
        </div>

        <hr />

        <div>Items to Craft</div>
    </div>
}