@page "/account/forgot" 

@attribute [AllowAnonymous]

<div class="identity-page">
    <div class="identity-border">

        <EditForm Model="_request" OnValidSubmit="@SubmitAsync">

            <div class="form-section-header">Forgot Password?</div>

            <DataAnnotationsValidator />

            <div>Enter username for password reset</div>

            <ValidationMessage For="() => _request.Username" />
            <FloatingInput Label="Username" @bind-Value="_request.Username" />

            <div>
                <button class="btn form-button-full" type="submit">Reset Password</button>
            </div>

        </EditForm>

    </div>
</div>