@page "/account/reset"

@attribute [AllowAnonymous]

<div class="identity-page">
    <div class="identity-border">

        <EditForm Model="_request" OnValidSubmit="@SubmitAsync">

            <div class="form-section-header">Reset Password</div>

            <DataAnnotationsValidator />

            <div>Enter your new password</div>

            <ValidationMessage For="() => _request.Password" />
            <FloatingPassword Label="Password" @bind-Value="_request.Password" />

            <ValidationMessage For="() => _request.ConfirmPassword" />
            <FloatingPassword Label="Confirm Password" @bind-Value="_request.ConfirmPassword" />

            <button class="btn form-button-full" type="submit">Reset Password</button>

        </EditForm>

    </div>
</div>